@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    color : white;
    margin: 0;
}

.root {
     display: flex;
     flex-direction: column;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .movie-overview::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .movie-overview {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

header {
    display : flex;
    padding: 1rem;
    justify-content: space-between;
}

.menu-category {
    display: flex;
    justify-content: space-evenly;
}


.menu-choice {
    background-color: inherit;
    border:none;
    text-align:center;
    color: white;
    font-family: inherit;
    font-size: large;
    font-weight: bold;
}

.menu-choice:link {
    color: #9298a1;
    font-weight: bolder;
} 

.menu-choice:visited {
    color: #9298a1;
} 

.menu-choice:hover {
    color: #9298a1;
    font-weight: bolder;
} 

.menu-choice:active {
    color: #9298a1;
}   

select {
    margin-top: 2rem;
    margin-left: 2rem;
    height:2rem;
    background-color:black;
    color:white;
    font-size: medium;
    font-family: inherit;
    padding-left:0.2rem;
}

.search {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;

}

.search:focus {
    outline: none;
}

.star-icon {
    margin-top:18px;
    margin-right:5px;
    height: 20px;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    position: relative;
    background-color:#132961;
    border-radius: 3px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
    overflow : hidden;
    width: 240px;
    margin: 1rem;
    transition: all .2s ease-in-out;
}

.movie:hover {
    scale:1.1;
}

.movie img {
    width: 100%;
    height: 350px;
    
}

.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.movie-info h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;

}

.movie-poster-button {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.movie-overview {
    background-color: #313131;
    padding:50px;
    border-radius: 30px;
    position: absolute;
    display:flex;
    overflow: auto;
    transition: all 5s ease-in-out;    
    width: 70%;
    height: 90%;
    top: 5%;
    left:15%;
}

.movie-overview-container {
    display: flex;
    overflow: auto;

}

.movie-cast {
    margin-top:0;
    margin-bottom: 5px;
    font-weight: 300;
}


.movie-overview-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: small;
}

.movie-cast-container {
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    margin-bottom: 10px;
}

.movie-rating-container {
    display: flex;
    flex-wrap: wrap;
    font-weight: 200;
    margin-left: 20px;
}

.movie-genre-container {
    display: flex;
    flex-wrap: wrap;
    font-weight: 200;
    margin-left: 20px;
}

.overview-title {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 0;
}

.overview-overview {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size:medium;
    margin-top:20px;
}

.overview-header {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top:0;
}

.overview-header-info {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-right: 20px;
    font-size:18px;
}


.overview-tv-genre-info {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-right: 5px;
    margin-left:15px;
    font-size:18px;
}

.overview-film-genre-info {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-right: 5px;
    margin-left:15px;
    font-size:18px;
    margin-top:18px;
}

.overview-role {
    color: #8B8B8B;
    font-weight: 800;
    font-size: 14px;
}

.overview-img {
    width:  300px;
    height: auto;
}


.movie:hover .movie-overview {
    transform: translateY(0%);
}


.movie-header {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    padding-top : 1rem;
    padding-left : 2rem;
}

.menu {
    background: inherit;
    border-radius: 8px;
    position: absolute;
    padding:1rem;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;

}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }

  .menu-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
  }
  
  .menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  .menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }
  
  .menu-trigger img {
    border-radius: 90px;
  }

.tag {
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem;
}

.tag.green {
    color: green;
}

.tag.orange {
    color: orange;
}

.tag.red {
    color:red;
}

.close {
    position: absolute;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-color: transparent;
    border: transparent;
  }

  .close:hover {
    opacity: 1;
  }
  
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .watch-button {
      margin-top: 20px;
      background-color: #F1F44D;
      color: #250FA2;
      border-radius: 15px;
      border-color: transparent;
      box-shadow: #F1F44D;
      font-family: 'Inter', sans-serif;
      font-size: 22px;
      font-weight: 600;
      padding:10px;
    }

  .page-container {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
  }

  .prev-next {
      font-family: inherit;
      font-size: medium;
      color: white;
      background-color: transparent;
      border: transparent;
      font-weight:500;
      opacity: 0.6;
  }

  .prev-next:hover {
        opacity: 1;      
  }
  

